.roboto-mono-pageFont {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.montserrat-abc {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
* {
  font-family: "Exo 2", sans-serif;
  /* cursor: default; */
}

.body-container {
  position: relative; /* Ensure .body-container is the positioning context */
}

.activeBtn {
  color: var(--yellow) !important;
  border-color: var(--yellow) !important;
}
#sidebar-wrapper {
  display: none;
}

.open {
  display: block !important;
  -webkit-animation: open 0.5s ease forwards;
  -moz-animation: open 1s ease forwards;
  -o-animation: open 1s ease forwards;
  animation: open 0.5s ease forwards;
}

#ham {
  display: none;
}

.expanded {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 10; /* Ensure it appears above other elements */
}

@keyframes open {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes open {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-moz-keyframes open {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-o-keyframes open {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes close {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@-webkit-keyframes close {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@-moz-keyframes close {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@-o-keyframes close {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

.close {
  -webkit-animation: close 1s ease forwards;
  -moz-animation: close 1s ease forwards;
  -o-animation: close 1s ease forwards;
  animation: close 1s ease forwards;
}
@media (max-width: 768px) {
  #sidebar-wrapper {
    background-color: beige;
    width: 68%;
  }
  #ham {
    display: block;
  }
  #navbar {
    display: none;
  }
  .body-container {
    background-color: green !important;
    width: 86% !important;
    height: auto !important;
    position: relative;
  }
  .row-1,
  .row-2 {
    display: flex;
    flex-direction: column !important;
    position: relative !important;

    height: fit-content;
  }
  .row-2 {
    background-color: gray !important;
  }
  .cell-1 {
    background-color: yellow !important;
    width: 100% !important;
    min-height: 10rem;
  }
  .cell-2 {
    /* background-color: bisque !important; */
    width: 100% !important;
    min-height: 20rem;
    /* transition: all 0.5s ease; */
    /* display: flex;
    flex-direction: column; */
  }
  .about-div-closed {
    min-height: 20rem !important;
  }
  .cell-2[data-isOpen="true"] {
    background-color: black !important;
    height: 40rem !important;
  }
  .project-div[data-isOpen="true"] {
    background-color: red !important;
    height: 10rem !important;
  }

  .inner-split {
    background-color: aqua !important;
    width: 100% !important;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
  }
  .cell-3 {
    background-color: red !important;
    width: 100% !important;
    min-height: 8rem;
  }
  .cell-4 {
    background-color: rgb(30, 210, 42) !important;
    width: 100% !important;
    min-height: 15rem;
    /* gap: 5px !important; */
    display: flex;
    flex-direction: column;
  }
  .cell-5 {
    background-color: blueviolet !important;
    width: 100% !important;
    min-height: auto;
  }
  .cell-5-inner-1 {
    background-color: orange !important;
    width: 100% !important;
    min-height: 4rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .cell-5-inner-div {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .cell-5-inner-2 {
    background-color: yellow !important;
    width: 100% !important;
    min-height: 2rem;
  }
  .cell-5-inner-3 {
    background-color: pink !important;
    width: 100% !important;
    min-height: 4rem;
  }
  .list-item-div {
    background-color: antiquewhite !important;
    height: 3rem !important;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .body-container {
    /* width: 80% !important;
    height: 100vh !important; */

    background-color: red !important;
  }

  /* 1050px
  about me page */

  /* .row-1,
  .row-2 {
    display: flex;
    flex-direction: column; /* Make the rows stack vertically */
  /* flex-wrap: nowrap; */
  /* }
  .row-1 {
    height: 90% !important;
  }
  .cell-1,
  .cell-2,
  .cell-3,
  .cell-4,
  .cell-5 { */
  /* width: 100% !important; Make each cell take full width
    height: 100% !important; Adjust the height if necessary
  } */
}
.textOverflow {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
