.roboto-mono-pageFont {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.montserrat-abc {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
* {
  font-family: "Exo 2", sans-serif;
  /* cursor: default; */
}

.switch {
  /* width: 4%; */
  /* height: 50%; */
  /* background-color: #e7d5d566; */
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 3px;

  cursor: pointer;
}

.switch[data-isDarkModeOn="true"] {
  justify-content: flex-end;
}

.handle {
  width: 45%;
  height: 100%;
  /* background-color: white; */
  border-radius: 40px;
  padding: 2px;
}

.body-container {
  position: relative; /* Ensure .body-container is the positioning context */
}

.activeBtn {
  color: var(--yellow) !important;
  border-color: var(--yellow) !important;
}
#sidebar-wrapper {
  display: none;
}

.open {
  display: block !important;
  -webkit-animation: open 0.5s ease forwards;
  -moz-animation: open 1s ease forwards;
  -o-animation: open 1s ease forwards;
  animation: open 0.5s ease forwards;
}

#ham {
  display: none;
}

.expanded {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 10; /* Ensure it appears above other elements */
}

@keyframes open {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes open {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-moz-keyframes open {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-o-keyframes open {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes close {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@-webkit-keyframes close {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@-moz-keyframes close {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@-o-keyframes close {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

.close {
  -webkit-animation: close 1s ease forwards;
  -moz-animation: close 1s ease forwards;
  -o-animation: close 1s ease forwards;
  animation: close 1s ease forwards;
}
@media (max-width: 767px) {
  .switch {
    /* width: 4%; */
    /* height: 50%; */
    background-color: rgba(231, 213, 213, 0.4);
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 3px;

    cursor: pointer;
  }

  .switch[data-isDarkModeOn="true"] {
    justify-content: flex-end;
  }

  .handle {
    width: 49.5%;
    height: 100%;
    background-color: white;
    border-radius: 40px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* #sidebar-wrapper {
   // background-color: beige;
    width: 68%;
  } */
  /* #ham {
    display: block;
  } */
  #navbar {
    display: none;
  }

  .body-container {
    /* background-colo    r: green !important; */
    width: 86% !important;
    height: auto !important;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .row-1,
  .row-2 {
    display: flex;
    flex-direction: column !important;
    position: relative !important;

    height: fit-content;
  }
  .row-2 {
    /* background-color: gray !important; */
  }
  .cell-1 {
    /* background-color: yellow !important; */
    width: 100% !important;
    min-height: 10rem;
    font-size: 2rem !important;
  }
  .intro-text {
    width: 70%;
    text-align: left !important;
  }
  #name {
    font-size: 3rem;
  }
  #profession {
    font-size: 1.3rem;
  }
  .transparent-bg-img {
    width: 10rem !important;
    height: 10rem !important;
  }
  .avatar-canvas {
    width: 100% !important;
    height: 20rem !important;
    /* background-color: blue; */
  }
  .cell-2 {
    /* background-color: bisque !important; */
    width: 100% !important;
    min-height: 20rem;
    margin-top: 5px !important;
    /* transition: all 0.5s ease; */
    /* display: flex;
    flex-direction: column; */
  }
  .about-div {
    /* background-color: red !important; */
    border: 2cm !important;
    /* border-color: black !important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 8px; */
  }
  .about-div-closed {
    min-height: 20rem !important;
  }
  .avatar-div {
    width: 100% !important;
    height: 20rem !important;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100% !important; */
  }
  .about-me-desc {
    width: 100% !important;
  }

  .cell-2[data-isOpen="true"] {
    /* background-color: black !important; */
    height: auto !important;
  }
  .project-div {
    margin-top: 35px;
    width: 100% !important;
    height: 10rem !important;
  }
  .project-closed-banner {
    /* background-color: aqua !important; */
    display: flex !important;
    flex-direction: row !important;
    /* flex-direction: column !important; */
    align-items: center !important;
    justify-content: center !important;
    gap: 1rem;
  }
  .project-closed-img-div {
    /* background-color: beige; */
    width: 40.5% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 10rem !important;
    height: 10rem !important; */
  }
  .project-closed-img {
    width: 100% !important;
    height: 80% !important;
  }
  .project-closed-title {
    font-size: 2.4rem !important;
    width: auto;
    /* background-color: brown; */
  }
  .project-div[data-isOpen="true"] {
    height: 30rem !important;
  }
  .flip-card {
    /* background-color: red !important; */
    height: 99.8% !important;
    /* width: 260px !important; */
    /* background */
  }
  .carousel-wrapper {
    /* background-color: blue; */
  }
  .carousel-content {
    height: 60% !important;
    width: 93.8% !important;
    /* background-color: aqua !important; */
  }
  .carousel-item {
    height: 100% !important;
    width: 100% !important;
    display: flex;
    align-items: center;
  }
  .project-description {
    width: 80% !important;
    /* margin-top: 9px; */
  }
  .header-content {
    font-size: 3rem !important;
  }
  .expanded {
    position: relative !important;
  }

  .inner-split {
    /* background-color: aqua !important; */
    width: 100% !important;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
  }
  .cell-3 {
    /* background-color: red !important; */
    width: 100% !important;
    min-height: 8rem;
  }
  .cell-4 {
    margin-top: 3rem;
    /* background-color: rgb(30, 210, 42) !important; */
    width: 100% !important;
    min-height: 10rem;
    /* gap: 5px !important; */
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    gap: 17px;
  }
  x .list-item-div {
    /* min-height: 30px !important; */
    /* background-color: aqua; */
    /* border: 2cm !important; */
  }
  .cell-5 {
    /* background-color: blueviolet !important; */
    width: 100% !important;

    min-height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 15px;
  }
  .cell-5-inner-1 {
    /* background-color: orange !important; */
    width: 100% !important;
    min-height: 4rem;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .cell-5-inner-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .cell-5-inner-2 {
    /* background-color: yellow !important; */
    width: 100% !important;
    min-height: auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .resume-a-tag {
    width: 70% !important;
    height: 3rem !important;
  }
  .resume {
    width: 100% !important;
    height: 100% !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    text-align: center;
    font-size: 1.36rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cell-5-inner-3 {
    /* background-color: pink !important; */
    width: 100% !important;
    min-height: 4rem;
    margin-top: 60px;
  }
  .list-item-div {
    /* background-color: antiquewhite !important; */
    height: 3rem !important;
  }
  .blog-div-phone {
    /* background-color: red; */
    min-height: 13rem;
    border-radius: 01rem !important;
  }
  .expanded-blog-phone {
    height: 70rem !important ;
    /* display: flex !important; */
    /* flex-direction: column !important; */
  }
  .blog-wrapper {
    /* background-color: rgb(17, 53, 53); */
    height: 100% !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  .blog-list {
    /* background-color: red !important; */
    /* width: 100% !important;
    height: 40% !important; */
    width: 100% !important;
    height: 70% !important;
  }
  .text-div {
    width: 100% !important;
    /* background-color: bisque !important; */
  }
  .cont-div-phone {
    /* background-color: red; */
    min-height: 5rem;
  }
  .contact-div-open {
    width: 100% !important;
    padding-bottom: 16px !important;
    min-height: 60rem !important;
    /* position: relative !important; */
  }
}

@media (min-width: 767px) and (max-width: 980px) {
  .body-container {
    /* width: 80% !important;
    height: 100vh !important; */

    background-color: red !important;
  }

  /* 1050px
  about me page */

  /* .row-1,
  .row-2 {
    display: flex;
    flex-direction: column; /* Make the rows stack vertically */
  /* flex-wrap: nowrap; */
  /* }
  .row-1 {
    height: 90% !important;
  }
  .cell-1,
  .cell-2,
  .cell-3,
  .cell-4,
  .cell-5 { */
  /* width: 100% !important; Make each cell take full width
    height: 100% !important; Adjust the height if necessary
  } */
}
.textOverflow {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
